.checkout {
    background: white;
    width: 50%;
}

.checkout .order-summary {
    border-bottom: 1px solid #f2f2f2;
    padding-bottom: 10px;
}

.checkout .order-summary table {
    font-size: 12px;
    margin: 0 20px;
    margin-bottom: 10px;
    line-height: 1.6;
    width: calc(100% - 40px);
    opacity: .8;
    font-weight: 400;
}

.checkout .order-summary table tr td:last-child {
    text-align: right;
    font-weight: 600;
}

.checkout .order-summary .total {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 0 20px;
    margin-bottom: 10px;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
}

.checkout .order-summary .total .total-label {
    display: block;
    text-transform: uppercase;
    margin-bottom: 5px;
    font-size: 11px;
    font-weight: 600;
}

.checkout .order-summary .total .amount {
    font-size: 18px;
    margin-left: auto;
}

.checkout .title {
    font-family: 'Playfair Display';
    font-size: 18px;
    padding: 20px;
}