.container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 532px;
    max-width: 650px;
    z-index: 3;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.container-enter {
    opacity: 0.01;
}

.container-enter.container-enter-active {
    opacity: 1;
    -webkit-transition: opacity .5s ease;
    transition: opacity .5s ease;
}