.expiry-date {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 20px;
    padding: 0 20px;
    width: 100%;
    box-sizing: border-box;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}

.expiry-date label {
    display: block;
    text-transform: uppercase;
    margin-bottom: 5px;
    font-size: 11px;
    font-weight: 600;
}

.expiry-date div:first-child {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
}

.expiry-date .expiry {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.expiry-date input {
    width: 100%;
    border: 0;
    border-bottom: 1px solid #17183B;
    font-family: 'Lato', sans-serif;
    padding: 5px 0;
    font-size: 18px;
    font-weight: 300;
    outline: none;
}

.expiry-date select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    padding: 10px;
    border-radius: 0;
    border: 0;
    background: transparent;
    border-bottom: 1px solid #17183B;
    border-bottom: 1px solid #17183B;
    font-family: 'Lato', sans-serif;
    padding: 5px 0;
    font-size: 18px;
    font-weight: 300;
    outline: none;
    margin-right: 10px;
}

.expiry-date .cvc-field {
    width: 20%;
}